.links {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;
}

.link {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0 0 0 20px;
}

.link .icon,
.link .hide {
    color: #8590a5;
}

.link p {
    color: initial;
}

.link.active .icon,
.link.active p {
    color: #3592ff;
}

@media screen and (max-width:1024px) {
    .hide {
        display: none;
    }

    .link {
        padding: 0;
    }
}
